<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3kFilp5-tVH_WQ9UIRcxkp5H5OQbdGRo</string>
	<key>GCM_SENDER_ID</key>
	<string>519688314911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloudstoragefirebase</string>
	<key>PROJECT_ID</key>
	<string>sathixh-coludstorage</string>
	<key>STORAGE_BUCKET</key>
	<string>sathixh-coludstorage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519688314911:ios:99974cd4a571b9fc97b52a</string>
</dict>
</plist>